#root {
  background-color: rgba(0, 0, 0, 0.39);
  height: 100vh;
}

.App {
  text-align: center;
  color: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222222;
  padding: 20px;
  flex-shrink: 0;
}

.App-footer {
  flex-shrink: 0;
  padding: 10px;
}

.App-title {
  font-size: 1.5em;
  display: inline;
}

.App-content {
  flex: 1 0 auto;
}

.App-content p {
  margin: 10px 0;
}

.enter-weight button {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #008DC5;
  border: none;
  padding: 3px;
  margin-left: 5px;
}

.enter-weight input {
  font-size: 16px;
  text-align: center;
}

.enter-weight label {
  padding: 5px;
  cursor: pointer;
}

.padding {
  padding: 10px;
}

.input-weight {
  width: 60px;
}

.available-weights {
  padding: 0;
  margin: 0;
}

.available-weights {
  list-style: none;
  margin: 10px 0 0 0;
}

.available-weights li {
  display: inline;
}
