.App {
  text-align: center;
}

.App-header {
  background-color: #222222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: inline;
}

.content p {
  margin: 10px 0;
}

.enter-weight {
  background-color: #EEEEEE;
}

.enter-weight button,
.enter-weight input {
  font-size: 16px;
}

.left {
  float: left;
  width: 50%;
  text-align: right;
}

.right {
  float: right;
  width: 50%;
  text-align: left;
}

.clear {
  clear: both;
}

.padding {
  padding: 10px;
}

.input-weight {
  width: 50px;
}

.weight-results {
  padding: 10px 20px;
}

.notice {
  background-color: #FFFF88;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.available-weights {
  padding: 0;
  margin: 0;
}

.available-weights {
  list-style: none;
}

.available-weights li {
  margin: 5px;
}
